<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Results</title>
  <link rel="stylesheet" href="reset.css"/>
  <link rel="stylesheet" href="base.css"/>
  <link rel="stylesheet" href="icons.css"/>
  <link rel="stylesheet" href="layout.css"/>
  <link rel="stylesheet" href="modules.css"/>
  <%- include('../../layout/head') %>
</head>
<body>
  <main>
    <h3>Search Results</h3>
    <% searchResults.forEach(item => { %>
      <%- include('../books/detail', { item: item }); %>
    <% }) %>
  </main>
</body>
</html>