<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head') %>
</head>
<body>
    <header>
        <%- include('../../layout/header'); %>
      </header>
  <main>
    <h3>Search Results</h3>
    <% searchResults.forEach(item => { %>
      <%- include('../books/detail', { item: item }); %>
    <% }) %>
  </main>
</body>
</html>