<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head'); %>
</head>
<body>
  <header>
    <%- include('../layout/header'); %>
  </header>
  <main>
    <h3>Collection Count: <%= storedBooks.count %></h3>
      <% storedBooks.forEach(storedBook => { %>
        <%- include('../pages/books/detailStored', { item: storedBook }); %>
      <% }) %>
      <!-- <h3>Search by Author or Title</h3>
      <form action='/searches' method='post'>
        <input id="form" type="text" name="search" placeholder="Enter a Title or Author" required>
        <fieldset class="form">
          <label for="title">
            <span>Title</span>
            <input type="radio" name="search" value="title" required>
          </label>
        </fieldset>
        <fieldset class="form">
          <label for="author">
            <span>Author</span>
            <input type="radio" name="search" value="author" required>
            </label>
        </fieldset>
        <button class="button" type="submit">
          Search the Google Books API
        </button>
      </form> -->
  </main>
</body>
</html>